<div class="container">
    <div class="title_cont">
        <h3 id="title">Localização</h3>
        <div id="line"></div>
    </div>
    <div class="test">
        
        <div class="add_cont">
            <div class="address">
                <h4>São Paulo</h4><br/>
                <span>Rua do Rócio, 423/1801</span><br/>
                <span>Vila Olímpia - SP</span><br/>
                <span>04552-000</span><br/>
                <span>+55 11 3333 3333</span>
            </div>
            <div class="address">
                <h4>Rio de Janeiro</h4><br/>
                <span>Vol. da Pátria, 301/702</span><br/>
                <span>Botafogo - RJ</span><br/>
                <span>22270-000</span><br/>
                <span>+55 21 3333 3333</span>
            </div>
        </div>

        <div class="contacts">
            <div class="cont_footer">
                <div class="btn_footer">
                    <div class="btn_cont">
                        <mat-icon id="icon_mail">mail</mat-icon>
                        <span>ENTRE EM CONTATO</span>
                    </div>
                </div>
        
                <div class="btn_footer">
                    <mat-icon id="icon_headset">headset_mic</mat-icon>
                    <span>FALE COM O NOSSO<br/>CONSULTOR ONLINE</span>
                </div>
            </div>
        </div>
    </div>
    <div class="contacts_mobile">
        <div class="cont_footer">
            <div class="btn_footer">
                <div class="btn_cont">
                    <mat-icon id="icon_mail">mail</mat-icon>
                    <span>ENTRE EM CONTATO</span>
                </div>
            </div>
    
            <div class="btn_footer">
                <mat-icon id="icon_headset">headset_mic</mat-icon>
                <span>FALE COM O NOSSO<br/>CONSULTOR ONLINE</span>
            </div>
        </div>
    </div>
</div>
<div class="footer"></div>